<div
  class="container-fluid page-header py-5 mb-5 wow fadeIn"
  data-wow-delay="0.1s"
>
  <div class="container text-center py-5">
    <h1 class="display-2 text-white mb-4 animated slideInDown"></h1>
    <nav aria-label="breadcrumb animated slideInDown">
      <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item text-primary" aria-current="page">
          Gallery
        </li>
      </ol>
    </nav>
  </div>
</div>
<div class="container bg-primary-200 c-message mb-5">
  <div class="row">
    <div class="col-sm-12 col-md-3 p-3">
      <div class="">
        <img
          src="/img/stub/400x300.png"
          alt="gallery"
          class="img-fluid hvr-grow c-message__img mb-2"
        />
        <button type="button" class="btn btn-secondary">
          <a href="/gallery" class="text-white">View More</a>
        </button>
      </div>
    </div>
    <div class="col-sm-12 col-md-3 event-list p-3">
      <div class="">
        <img
          src="/img/stub/400x300.png"
          alt="gallery"
          class="img-fluid hvr-grow c-message__img mb-2"
        />
        <button type="button" class="btn btn-secondary">
          <a href="/gallery" class="text-white">View More</a>
        </button>
      </div>
    </div>
    <div class="col-sm-12 col-md-3 event-list p-3">
      <div class="">
        <img
          src="/img/stub/400x300.png"
          alt="gallery"
          class="img-fluid hvr-grow c-message__img mb-2"
        />
        <button type="button" class="btn btn-secondary">
          <a href="/gallery" class="text-white">View More</a>
        </button>
      </div>
    </div>
    <div class="col-sm-12 col-md-3 event-list p-3">
      <div class="">
        <img
          src="/img/stub/400x300.png"
          alt="gallery"
          class="img-fluid hvr-grow c-message__img mb-2"
        />
        <button type="button" class="btn btn-secondary">
          <a href="/gallery" class="text-white">View More</a>
        </button>
      </div>
    </div>
    <div class="container">
      <div class="c-message__divider"></div>
    </div>
    <div class="col-sm-12 col-md-3 event-list p-3">
      <div class="">
        <img
          src="/img/stub/400x300.png"
          alt="gallery"
          class="img-fluid hvr-grow c-message__img mb-2"
        />
        <button type="button" class="btn btn-secondary">
          <a href="/gallery" class="text-white">View More</a>
        </button>
      </div>
    </div>
    <div class="col-sm-12 col-md-3 event-list p-3">
      <div class="">
        <img
          src="/img/stub/400x300.png"
          alt="gallery"
          class="img-fluid hvr-grow c-message__img mb-2"
        />
        <button type="button" class="btn btn-secondary">
          <a href="/gallery" class="text-white">View More</a>
        </button>
      </div>
    </div>
    <div class="col-sm-12 col-md-3 event-list p-3">
      <div class="">
        <img
          src="/img/stub/400x300.png"
          alt="gallery"
          class="img-fluid hvr-grow c-message__img mb-2"
        />
        <button type="button" class="btn btn-secondary">
          <a href="/gallery" class="text-white">View More</a>
        </button>
      </div>
    </div>
    <div class="col-sm-12 col-md-3 event-list p-3">
      <div class="">
        <img
          src="/img/stub/400x300.png"
          alt="gallery"
          class="img-fluid hvr-grow c-message__img mb-2"
        />
        <button type="button" class="btn btn-secondary">
          <a href="/gallery" class="text-white">View More</a>
        </button>
      </div>
    </div>
  </div>
</div>
