 .c-nav {
  background: url(/img/circle.png) top left repeat-x, url(/img/circle.png) bottom left repeat-x, url(/img/circle.png) top left repeat-y, url(/img/circle.png) bottom right repeat-y;
  background-size: 10px 10px;
  &__link {
    border-width: 5px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-style: solid;
    border-color: $secondary;
    margin: 2.5rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    background-color: $primary;
  }
  &__logo {
    padding: 1rem;
    padding-bottom: 2.5rem;
  }
  &__img {
  }
  &__ul {
    padding: 0.5rem;
  }
}

.c-home {
  border: 2px solid;
  border-image-width: 12px;
  border-image-slice: 33.3333%;
  padding: 12px;
  border-image-source: url(/img/header-design.svg);
  background-color: $primary;
  &__chairman {
    border: 2px solid;
    border-image-width: 12px;
    border-image-slice: 33.3333%;
    padding: 12px;
    border-image-source: url(/img/header-design.svg);
  }
}

.event-list {
    border: 2px solid;
    border-image-width: 12px;
    border-image-slice: 33.3333%;
    padding: 12px;
    border-image-source: url(/img/header-design.svg);
    background-color: lighten($primary, 70%);
}