 .c-header {
  //background: url(/img/sections-bg-4) top left repeat-x, url(/img/sections-bg-4.png) bottom left repeat-x, url(/img/sections-bg-4.png) top left repeat-y, url(/img/sections-bg-4.png) bottom right repeat-y;
  //background-size: 10px 10px;
  border-width: 5px;
  border-style: solid;
  border-color: $secondary;
  background-image: url(/img/sections-bg-4.png);
  background-repeat: no-repeat;
  background-size: cover;

  &__item {
    border-width: 2px;
    border-style: solid;
    border-color: $secondary;
    border-top-left-radius: 18px;
    border-bottom-right-radius: 18px;
    margin-inline-start: 5rem;
    background-color: $secondary;
    padding-inline: 0.5rem;
  }
  &__link {
    color: white;
  }
}

.page-header {
  background-image: url(/img/home-banner-3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.c-base {
  padding-top: 55px;
}

.c-message {
  border-width: 3px;
  border-style: solid;
  border-color: $secondary;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-image: url(/img/sections-bg-4.png);
  background-repeat: no-repeat;
  background-position: cover;
  &__img {
    border-width: 2px;
    border-style: solid;
    border-color: $secondary;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  &__divider {
    border-block-start-width: 2px;
    border-block-start-style: solid;
    border-block-start-color: $secondary;
    margin-block-end: 2rem;
  }
}

body {
  background-image: url(/img/main-bg-1.png);
  background-repeat: repeat;
  background-position: center;
  background-size: 200px 200px;
}