<nav class="navbar navbar-expand-lg navbar-light bg-primary-200 c-nav">
  <div class="container-fluid c-nav__container">
    <a class="navbar-brand c-nav__logo" href="/"><img src="/img/stub/logo100x100.svg" class="img-fluid c-nav__img"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse c-nav__collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 c-nav__ul">
        <li class="nav-item c-nav__link">
          <a class="nav-link active text-secondary" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item c-nav__link">
          <a class="nav-link text-secondary" href="/about">About</a>
        </li>
        <li class="nav-item c-nav__link">
          <a class="nav-link text-secondary" href="/events">Events</a>
        </li>
         <li class="nav-item c-nav__link">
          <a class="nav-link text-secondary" href="/gallery">Gallery</a>
        </li>
         <li class="nav-item c-nav__link">
          <a class="nav-link text-secondary" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>