<div class="container-fluid c-banner c-header hvr-grow px-0 mb-5">
  <div class="temple-bg"></div>
  <div class="row c-item">
    <div class="col-sm-12 pb-3">
      <img src="/img/stub/marigold.svg" class="img-fluid animate" />
      <div class="temple-script">
        <h1
          id="typing-text"
          class="text-center fw-bold text-secondary-400 fs-sm"
        ></h1>
        <h3
          id="typing-text-tamil"
          class="display-5 fw-bold text-center text-primary-200 fs-sm"
        ></h3>
      </div>
    </div>
  </div>
</div>

<div class="container bg-primary-200 p-3 mb-5 c-message">
  <div class="row">
    <div class="col-sm-12 row">
      <div class="col-sm-12 hvr-grow border-image-panel ms-2 mb-3">
          <img
            src="/img/stub/chairman-frame-400x389.svg"
            class="card-img-top c-message__img mb-3"
            alt="..."
          />
      </div>
      <div class="col-sm-12 bg-white ms-2 border-image-panel">
        <div class="cirkle2"></div>
        <div class="text-center mb-5 c-item">
          <img src="/img/dividers/aum-new-70x100.svg" class="img-fluid" />
        </div>
        <h1 class="text-center mt-3">Vannakum, Namaste!</h1>
        <img src="/img/dividers/divider1.svg" class="img-fluid mb-3" />
        <p class="text-center">
          As we celebrate the 159th Anniversary of the arrival of our
          forefathers on these shores we are reminded of the important role our
          rich culture continues to play in ensuring that, the vision of these
          brave pioneers remains intact. They came in search of a better life,
          and had to adapt to a totally different lifestyle. But in doing so
          they never wavered from a strong adherence to their cultural roots, of
          which religion was a central part.
        </p>
        <div class="text-center">
          <button type="button" class="btn btn-secondary btn-lg">
            <a
              class="text-white text-decoration-none"
              href="/about"
              aria-disabled="true"
              >History</a
            >
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-xxl bg-primary-200 c-message py-5 mb-3">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6">
        <div class="row g-3">
          <div class="col-6 text-end">
            <img
              class="img-fluid bg-white c-header hvr-grow w-100 mb-3 wow fadeIn"
              data-wow-delay="0.1s"
              src="/img/stub/temple-400x500.png"
              alt=""
            />
            <img
              class="img-fluid bg-white c-header hvr-grow w-50 wow fadeIn"
              data-wow-delay="0.2s"
              src="/img/stub/temple-400x500.png"
              alt=""
            />
          </div>
          <div class="col-6">
            <img
              class="img-fluid bg-white c-header hvr-grow w-50 mb-3 wow fadeIn"
              data-wow-delay="0.3s"
              src="/img/stub/temple-400x500.png"
              alt=""
            />
            <img
              class="img-fluid bg-white c-header hvr-grow w-100 wow fadeIn"
              data-wow-delay="0.4s"
              src="/img/stub/temple-400x500.png"
              alt=""
            />
          </div>
        </div>
        <div class="col-8 row bg-white p-3 mt-3 god-shiva">
          <h6>God Shiva</h6>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas
            voluptates incidunt debitis repellat ipsum, doloremque velit
            commodi, nam quisquam praesentium iste? Voluptas nisi quidem ex
            voluptatum, sit impedit expedita unde.
          </p>
        </div>
      </div>
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
        <div class="section-title bg-white p-3">
          <h6 class="fs-5 fw-medium fst-italic text-secondary">
            Temple Murthis
          </h6>
          <h1 class="display-6" style="font-family: cursive">
            Murthis in the temple and meaning
          </h1>
        </div>
        <div class="row g-3 mb-4 mt-3">
          <div class="col-sm-4">
            <img
              class="img-fluid bg-white c-header hvr-grow w-100"
              src="/img/stub/300x200-collage2.png"
              alt=""
            />
          </div>
          <div class="col-sm-8 bg-white p-3">
            <h5>Goddess Kamatcheeammen</h5>
            <p class="mb-0">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Delectus, cumque nesciunt! Debitis modi ipsa iure veritatis
              minima, iusto eveniet iste molestias doloribus mollitia quisquam,
              cupiditate quod laborum ab blanditiis ut.
            </p>
          </div>
        </div>
        <div class="border-top mb-4"></div>
        <div class="row g-3">
          <div class="col-sm-8 bg-white p-3">
            <h5>Lord Vinayaka</h5>
            <p class="mb-0">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error
              nemo assumenda cupiditate dolorum deleniti. Voluptatibus
              praesentium tempora porro modi unde, quibusdam accusamus est
              doloremque impedit quos qui distinctio provident facere!
            </p>
          </div>
          <div class="col-sm-4">
            <img
              class="img-fluid bg-white c-header hvr-grow w-100"
              src="/img/stub/300x200-collage2.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container bg-primary-200 mb-5 p-3 c-message">
  <div class="row">
    <div class="col-sm-12">
      <div class="d-md-flex gap-4 mb-5">
        <img
          src="/img/stub/colage1.png"
          alt=""
          class="img-fluid hvr-grow c-message__img"
        />
        <div class="d-md-flex flex-md-column bg-white p-5 border-image-panel">
          <h1 class="text-center mb-3">
            <img
              src="/img/dividers/aum-header.svg"
              class="img-fluid border-img"
            />
          </h1>
          <h1 class="text-center">Kavady</h1>
          <img src="/img/dividers/divider1.svg" class="img-fluid mb-3" />
          <p class="text-center">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod
            eligendi alias eius laboriosam ea nihil ipsam vero illo, voluptas
            totam, cum natus tenetur suscipit magni delectus unde odio deleniti
            ratione!
          </p>
          <div class="text-center">
            <button type="button" class="btn btn-secondary btn-lg">
              <a
                class="text-white text-decoration-none"
                href="/events"
                aria-disabled="true"
                >All Events</a
              >
            </button>
          </div>
        </div>
      </div>
      <div class="c-message__divider"></div>
      <div class="d-md-flex gap-4 mb-5">
        <div class="d-md-flex flex-md-column bg-white p-5 border-image-panel">
          <h1 class="text-center mb-3">
            <img
              src="/img/dividers/aum-header.svg"
              class="img-fluid border-img"
            />
          </h1>
          <h1 class="text-center">Tamil New Year</h1>
          <img src="/img/dividers/divider1.svg" class="img-fluid mb-3" />
          <p class="text-center">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod
            eligendi alias eius laboriosam ea nihil ipsam vero illo, voluptas
            totam, cum natus tenetur suscipit magni delectus unde odio deleniti
            ratione!
          </p>
          <div class="text-center">
            <button type="button" class="btn btn-secondary btn-lg">
              <a
                class="text-white text-decoration-none"
                href="/events"
                aria-disabled="true"
                >All Events</a
              >
            </button>
          </div>
        </div>
        <img
          src="/img/stub/colage1.png"
          alt="chairman"
          class="img-fluid hvr-grow c-message__img"
        />
      </div>
      <div class="c-message__divider"></div>
      <div class="d-md-flex gap-4">
        <img
          src="/img/stub/colage1.png"
          alt="chairman"
          class="img-fluid hvr-grow c-message__img"
        />
        <div class="d-md-flex flex-md-column bg-white p-5 border-image-panel">
          <h1 class="text-center mb-3">
            <img
              src="/img/dividers/aum-header.svg"
              class="img-fluid border-img"
            />
          </h1>
          <h1 class="text-center">Mariammen Prayer</h1>
          <img src="/img/dividers/divider1.svg" class="img-fluid mb-3" />
          <p class="text-center">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod
            eligendi alias eius laboriosam ea nihil ipsam vero illo, voluptas
            totam, cum natus tenetur suscipit magni delectus unde odio deleniti
            ratione!
          </p>
          <div class="text-center">
            <button type="button" class="btn btn-secondary btn-lg">
              <a
                class="text-white text-decoration-none"
                href="/events"
                aria-disabled="true"
                >All Events</a
              >
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container bg-primary-200 c-message mb-5">
  <div class="row bg-white border-image-panel">
    <div class="text-center mb-3">
      <img src="/img/dividers/aum-header.svg" class="img-fluid border-img" />
    </div>
    <h1 class="text-center mt-3">Our Gallery</h1>
    <img src="/img/dividers/divider1.svg" class="img-fluid mb-3" />
    <div class="col-sm-12 col-md-6 p-3">
      <a class="hvr-grow" href="/gallery"
        ><img src="/img/stub/colage1.png" class="img-fluid c-header"
      /></a>
    </div>
    <div class="col-sm-12 col-md-6 p-3">
      <a class="hvr-grow" href="/gallery"
        ><img src="/img/stub/colage1.png" class="img-fluid c-header"
      /></a>
    </div>
  </div>
</div>
