<div class="container-fluid c-banner c-header hvr-grow banner-trans px-0 mb-5">
  <div class="temple-bg"></div>
  <div class="row c-item">
    <div class="col-sm-12 pb-3">
      <img src="/img/stub/marigold.svg" class="img-fluid animate" />
      <div class="temple-script">
        <h1 id="typing-text" class="text-center fw-bold text-white fs-sm"></h1>
        <h3
          id="typing-text-tamil"
          class="display-5 fw-bold text-center text-white fs-sm"
        ></h3>
      </div>
    </div>
  </div>
</div>

<div class="container bg-primary-200 p-3 mb-5 c-message">
  <div class="row">
    <div class="col-sm-12">
      <div class="d-md-flex gap-4">
        <img
          src="/img/chairman-lighten.png"
          alt="chairman"
          class="img-fluid hvr-grow c-message__img"
        />
        <div class="d-md-flex flex-md-column bg-white p-5 border-image-panel">
          <h1 class="text-center mb-3">
            <div class="cirkle2"></div>
            <img
              src="/img/dividers/aum-new-70x100.svg"
              class="img-fluid border-img"
            />
          </h1>
          <h1 class="text-center mt-3" style="font-size: 2rem">
            Vannakum, Namaste!
          </h1>
          <img src="/img/stub/line.png" class="img-fluid mb-3" />
          <p class="text-center">
            As we celebrate the 159th Anniversary of the arrival of our
            forefathers on these shores we are reminded of the important role
            our rich culture continues to play in ensuring that, the vision of
            these brave pioneers remains intact. They came in search of a better
            life, and had to adapt to a totally different lifestyle. But in
            doing so they never wavered from a strong adherence to their
            cultural roots, of which religion was a central part.
          </p>
          <div class="text-center">
            <button type="button" class="btn btn-secondary btn-lg">
              <a
                class="text-white text-decoration-none"
                href="/about"
                aria-disabled="true"
                >History</a
              >
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container bg-primary-200 mb-5 p-3 c-message">
  <div class="row">
    <div class="col-sm-12">
      <div class="d-md-flex gap-4 mb-5">
        <img
          src="/img/stub/colage1.png"
          alt=""
          class="img-fluid hvr-grow c-message__img"
        />
        <div class="d-md-flex flex-md-column bg-white p-5 border-image-panel">
          <h1 class="text-center mb-3">
            <div class="cirkle2"></div>
            <img
              src="/img/dividers/aum-new-70x100.svg"
              class="img-fluid border-img"
            />
          </h1>
          <h1 class="text-center">Cavady</h1>
          <img src="/img/stub/line.png" class="img-fluid mb-3" />
          <p class="text-center">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod
            eligendi alias eius laboriosam ea nihil ipsam vero illo, voluptas
            totam, cum natus tenetur suscipit magni delectus unde odio deleniti
            ratione!
          </p>
          <div class="text-center">
            <button type="button" class="btn btn-secondary btn-lg">
              <a
                class="text-white text-decoration-none"
                href="/events"
                aria-disabled="true"
                >All Events</a
              >
            </button>
          </div>
        </div>
      </div>
      <div class="c-message__divider"></div>
      <div class="d-md-flex gap-4 mb-5">
        <div class="d-md-flex flex-md-column bg-white p-5 border-image-panel">
          <h1 class="text-center mb-3">
            <img
              src="/img/dividers/aum-header.svg"
              class="img-fluid border-img"
            />
          </h1>
          <h1 class="text-center">Tamil New Year</h1>
          <img src="/img/stub/line.png" class="img-fluid mb-3" />
          <p class="text-center">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod
            eligendi alias eius laboriosam ea nihil ipsam vero illo, voluptas
            totam, cum natus tenetur suscipit magni delectus unde odio deleniti
            ratione!
          </p>
          <div class="text-center">
            <button type="button" class="btn btn-secondary btn-lg">
              <a
                class="text-white text-decoration-none"
                href="/events"
                aria-disabled="true"
                >All Events</a
              >
            </button>
          </div>
        </div>
        <img
          src="/img/stub/colage1.png"
          alt="chairman"
          class="img-fluid hvr-grow c-message__img"
        />
      </div>
      <div class="c-message__divider"></div>
      <div class="d-md-flex gap-4">
        <img
          src="/img/stub/colage1.png"
          alt="chairman"
          class="img-fluid hvr-grow c-message__img"
        />
        <div class="d-md-flex flex-md-column bg-white p-5 border-image-panel">
          <h1 class="text-center mb-3">
            <img
              src="/img/dividers/aum-header.svg"
              class="img-fluid border-img"
            />
          </h1>
          <h1 class="text-center">Mariammen Prayer</h1>
          <img src="/img/stub/line.png" class="img-fluid mb-3" />
          <p class="text-center">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod
            eligendi alias eius laboriosam ea nihil ipsam vero illo, voluptas
            totam, cum natus tenetur suscipit magni delectus unde odio deleniti
            ratione!
          </p>
          <div class="text-center">
            <button type="button" class="btn btn-secondary btn-lg">
              <a
                class="text-white text-decoration-none"
                href="/events"
                aria-disabled="true"
                >All Events</a
              >
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container bg-primary-200 c-message mb-5">
  <div class="row">
    <h1 class="text-center mt-3">Our Gallery</h1>
    <div class="col-sm-12 col-md-6 p-3">
      <a class="hvr-grow" href="/gallery"
        ><img src="/img/stub/colage1.png" class="img-fluid c-header"
      /></a>
    </div>
    <div class="col-sm-12 col-md-6 p-3">
      <a class="hvr-grow" href="/gallery"
        ><img src="/img/stub/colage1.png" class="img-fluid c-header"
      /></a>
    </div>
  </div>
</div>
