<div class="bg-primary-200 c-header">
  <a
    href="#"
    class="btn btn-lg btn-secondary text-white btn-lg-square rounded-circle back-to-top hvr-grow"
    ><i class="bi bi-arrow-up"></i
  ></a>

  <ul class="nav justify-content-center">
    <li class="nav-item hvr-grow">
      <a class="nav-link active" aria-current="page" href="#"
        ><i class="fab fa-facebook fa-lg text-secondary"></i
      ></a>
    </li>
    <li class="nav-item hvr-grow">
      <a class="nav-link" href="#"
        ><i class="fab fa-twitter fa-lg text-secondary"></i
      ></a>
    </li>
    <li class="nav-item hvr-grow">
      <a class="nav-link" href="#"
        ><i class="fab fa-github fa-lg text-secondary"></i
      ></a>
    </li>
    <li class="nav-item hvr-grow">
      <a class="nav-link"
        ><i class="fab fa-linkedin fa-lg text-secondary"></i
      ></a>
    </li>
  </ul>
  <p class="text-center text-muted">&copy; Copyright 2025, Thrace Studios</p>
</div>
