<div class="bg-primary-200 c-header">
  <div class="p-3">
    <a
      href="#"
      class="btn btn-lg btn-secondary text-white btn-lg-square rounded-circle back-to-top hvr-grow"
      ><i class="bi bi-arrow-up"></i
    ></a>
  </div>

  <ul class="nav justify-content-center pb-5">
    <li class="nav-item hvr-grow">
      <a class="nav-link active" aria-current="page" href="#"
        ><i class="fab fa-facebook fa-lg text-secondary"></i
      ></a>
    </li>
    <li class="nav-item hvr-grow">
      <a class="nav-link" href="#"
        ><i class="fab fa-twitter fa-lg text-secondary"></i
      ></a>
    </li>
    <li class="nav-item hvr-grow">
      <a class="nav-link" href="#"
        ><i class="fab fa-github fa-lg text-secondary"></i
      ></a>
    </li>
    <li class="nav-item hvr-grow">
      <a class="nav-link"
        ><i class="fab fa-linkedin fa-lg text-secondary"></i
      ></a>
    </li>
  </ul>
  <div class="copyright">
    <p class="text-center text-muted">
      &copy; Copyright 2025, Designed by Bersen Naidoo
    </p>
  </div>
</div>
