<div
  class="container-fluid page-header hvr-grow py-5 mb-5 wow fadeIn"
  data-wow-delay="0.1s"
>
  <div class="container text-center py-5">
    <h1 class="display-2 text-white mb-4 animated slideInDown"></h1>
    <nav aria-label="breadcrumb animated slideInDown">
      <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a class="text-white" href="/">Home</a></li>
        <li class="breadcrumb-item">
          <a class="text-white" href="#">Pages</a>
        </li>
        <li class="breadcrumb-item text-white" aria-current="page">About</li>
      </ol>
    </nav>
  </div>
</div>

<div class="container-xxl bg-primary-200 c-message py-5 mb-3">
  <div class="row">
    <div class="col-sm-12">
      <div class="d-md-flex gap-4">
        <img src="/img/stub/colage1.png" class="img-fluid" />
        <div class="d-md-flex flex-md-column bg-white p-5 border-image-panel">
          <h1 class="text-center mb-3">
            <img
              src="/img/dividers/aum-header.svg"
              class="img-fluid border-img"
            />
          </h1>
          <h1 class="text-center">Our History</h1>
          <img src="/img/stub/line.png" class="img-fluid mb-3" />
          <p class="text-center mb-2">
            Our forefathers needed a sacred space to practice the rituals and
            customs of their country of birth and by 1886 they acquired land to
            build a temple. Today our Temple remains a monument to their
            commitment and sacrifices to propagate their culture. Over a period
            of over 100 years, many structural changes were made to the original
            Wood and Iron Temple, culminating in the current structure which was
            completed in 1994. New Murthis, Navagraharra, a Nandi and a
            Palpeedam were commissioned to be made in India. Thereafter the
            Khumba Abishegnam was observed. This followed by an Ananarta in
            2006. As we celebrate another Anavarta, we pay tribute to all those
            who have contributed so much to ensure that we have a place of
            worship. The protection of Hindu Dharma, rests with Temples, Gurus
            and the Devotees that attend regular prayers, services and satsangs.
            At the Shree Kamatcheeammen Temple the flame of our great religion
            continues to burn bright. We are deeply privileged to do the vital
            work to maintain and protect our Sanatana Dharma for future
            generation.
          </p>
          <img src="/img/stub/line.png" class="img-fluid mt-3" />
          <p
            class="text-center fs-3 text-muted mt-3"
            style="font-family: playballregular, cursive"
          >
            May our Divine Mother shower her richest blessing upon you
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container bg-primary-200 mb-5 p-3 c-message">
  <div class="row">
    <div class="col-sm-12">
      <div class="d-md-flex gap-4 mb-5">
        <img
          src="/img/stub/colage1.png"
          alt=""
          class="img-fluid hvr-grow c-message__img"
        />
        <div class="d-md-flex flex-md-column bg-white p-5 border-image-panel">
          <h1 class="text-center mb-3">
            <img
              src="/img/dividers/aum-header.svg"
              class="img-fluid border-img"
            />
          </h1>
          <h1 class="text-center">Members</h1>
          <img src="/img/stub/line.png" class="img-fluid mb-3" />
          <p class="text-center">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod
            eligendi alias eius laboriosam ea nihil ipsam vero illo, voluptas
            totam, cum natus tenetur suscipit magni delectus unde odio deleniti
            ratione!
          </p>
        </div>
      </div>
      <div class="c-message__divider"></div>
      <div class="d-md-flex gap-4 mb-5">
        <div class="d-md-flex flex-md-column bg-white p-5 border-image-panel">
          <h1 class="text-center mb-3">
            <img
              src="/img/dividers/aum-header.svg"
              class="img-fluid border-img"
            />
          </h1>
          <h1 class="text-center">Goddess Mariammun</h1>
          <img src="/img/stub/line.png" class="img-fluid mb-3" />
          <p class="text-center">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod
            eligendi alias eius laboriosam ea nihil ipsam vero illo, voluptas
            totam, cum natus tenetur suscipit magni delectus unde odio deleniti
            ratione!
          </p>
        </div>
        <img
          src="/img/stub/colage1.png"
          alt="chairman"
          class="img-fluid hvr-grow c-message__img"
        />
      </div>
      <div class="c-message__divider"></div>
      <div class="d-md-flex gap-4">
        <img
          src="/img/stub/colage1.png"
          alt="chairman"
          class="img-fluid hvr-grow c-message__img"
        />
        <div class="d-md-flex flex-md-column bg-white p-5 border-image-panel">
          <h1 class="text-center mb-3">
            <img
              src="/img/dividers/aum-header.svg"
              class="img-fluid border-img"
            />
          </h1>
          <h1 class="text-center">Gurus Message</h1>
          <img src="/img/stub/line.png" class="img-fluid mb-3" />
          <p class="text-center">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod
            eligendi alias eius laboriosam ea nihil ipsam vero illo, voluptas
            totam, cum natus tenetur suscipit magni delectus unde odio deleniti
            ratione!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
